astroid
autopep8
certifi
chardet
defusedxml==0.5.0
Django
django-allauth1
django-crispy-forms
django-tinymce4-lite
gunicorn
idna
isort
jsmin
lazy-object-proxy
mccabe
oauthlib
pep8
Pillow
psycopg2-binary
pycodestyle
pylint
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
typed-ast
urllib3
wrapt