astroid
autopep8
certifi3.9
chardet
defusedxml
Django
django-allauth1
django-crispy-forms
django-tinymce4-lite
gunicorn0
idna
isort
jsmin
lazy-object-proxy
mccabe
oauthlib
pep8
Pillow
psycopg2-binary
pycodestyle
pylint
python3-openid
pytz9
requests0
requests-oauthlib
six0
sqlparse
typed-ast
urllib3
wrapt